<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<body>
<div th:fragment="infoPet" th:if="${pet!= null}">
  <div class="container">
    <div class="card">
      <div class="card-body">

        <div class="row">
          <div class="col-12">
            <h5 class="card-title text-center"><b>ㅤINFORMACIÓN GENERAL</b></h5>
          </div>
          <hr class="col-12 mt-3 mb-1"/>
        </div>

        <div class="row text-center">
          <div th:object="${pet}" class="row mt-3 px-5">
            <div class="col-12 col-sm-6 col-md-4 mb-2">
              <p class="fw-bold">Nombre</p>
              <p>
                [[*{name}]]
              </p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mb-2">
              <p class="fw-bold">Edad</p>
              <p>
                [[*{age}]]
              </p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mb-2">
              <p class="fw-bold">Tipo</p>
              <p class="text-capitalize">
                [[*{type}]]
              </p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mb-2">
              <p class="fw-bold">Sexo</p>
              <p class="text-capitalize">
                [[*{sex}]]
              </p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mb-2">
              <p class="fw-bold">Color</p>
              <p>
                [[*{color.name}]]
              </p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mb-2">
              <p class="fw-bold">Tamaño</p>
              <p>
                [[*{size.name}]]
              </p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mb-2">
              <p class="fw-bold">Carácter</p>
              <p>
                [[*{personality.name}]]
              </p>
            </div>
            <div class="col-12 col-sm-6 col-md-4 mb-2">
              <p class="fw-bold">Adopción</p>
              <p>
                [[${pet.availableAdoption ? 'Disponible' : 'No disponible'}]]
              </p>
            </div>
            <div class="col-12 col-sm-6 col-md-4" sec:authorize="isAuthenticated() && !hasRole('ROLE_ADOPTADOR')">
              <p class="fw-bold">Estado de publicación</p>
              <p class="text-capitalize">
                [[*{isAccepted}]]
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

</html>